.app {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100vh;
  align-items: center;
  margin: 0;
  padding: 0;

  &-list {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 248px;
    height: 50px;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style: none;
    z-index: 1;

    &__item {
      width: auto;
      margin: 0 1rem 0 0;
      padding: 0;

      &:last-child {
        margin: 0;
      }

      &-link {
        margin: 0 .6rem 0 0;
        text-decoration: none;
        color: #000000;
        user-select: none;

        &:hover {
          opacity: .5;
        }

        &:last-child {
          margin: 0;
        }
      }
    }
  }
}